@model IEnumerable<EventEaseBookingSystem.Models.Venue>

@{
    ViewData["Title"] = "Venues";
}

<h2>Venues</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">
        Create New Venue
    </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Venue Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl"
                             width="120"
                             height="80"
                             style="object-fit:cover;" />
                    }
                </td>

                <td>@item.VenueName</td>
                <td>@item.Location</td>
                <td>@item.Capacity</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.VenueId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VenueId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VenueId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>